div(id='page-header' class='container-fluid')
  nav(class='navbar navbar-default navbar-fixed-top')
    div(class='row container')
      div(class='col-md-3 hidden-md-down')
        img(class='logo', src='/images/logo.svg')

      div(class='col-md-6 col-md-offset-3 col-centered hidden-md-down note')
        //span Here should be implemented dropdown country select
        div(class='dropdown')
          button(class='col-md-5 btn btn-sm btn-secondary dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') #{countryname}
            span(class='caret' id='arrow-drop-down')
          ul(class='col-md-5 dropdown-menu dropdown-menu-center' id='country-drop-down' aria-labelledby='dropdownMenu1')
            div(class='wrapper')
              div(class='scrollbar' id='style-1')
                div(class='force-overflow')
                  each c in countrys
                    div(class='row')
                      li
                        a(class='col-md-2 country' data-code=c.code data-name=c.name style='width: 100%' href='#') #{c.name}