#page-header a {
  color: #000000;
}

#page-header .logo {
  margin: 6px 10px 7px;
  width: 120px;
}

#page-header .form-group {
  margin: 0;
}

#page-header .note {
  padding: 14px 0;
  text-align: center;
  color: #969696;
}

#page-header .nav-link {
  float: right;
  padding-right: 10px;
}

#page-header .form-control:focus {
  border-color: rgba(0, 0, 0, 0);
}

#page-header input:focus {
  border-width: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .2);
}

#page-header input {
  height: 35px;
  font-size: 14px;
  margin: 10px 0 10px 0;
}

#page-header nav {
  padding: 0;
  background-color: #3e3e3e;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.3);
  border-bottom: 1px solid #505050;
  color: #fff;
}

/*
#country-drop-down {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
*/

#wrapper {
  text-align: center;
  width: 500px;
  margin: auto;
}

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.force-overflow {
  min-height: 450px;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

#arrow-drop-down {
  margin-left: 2vh;
}