doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='icon', type='image/x-icon', href='/images/favicon.ico')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    block content
  script(src='/js/jquery.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/javascripts/index.js')
